* {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #bfe7f6;
  color: black;
}

/* Make button more visible */
.btn{
  background-color: black; 
  position: absolute;
  right: 50px;
  left: 40px;
}


/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
  background-color: #bfe7f6;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: #bfe7f6;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #bfe7f6;
}

.navbar {
  padding: 5px;
  margin: 0;
  background: #bfe7f6;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color:#bfe7f6 ;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  }
th {
  height: 70px;
  position: sticky;
  top:0;
  }

.filters .panel-body {
  padding: 0;
  background-color: #bfe7f6;
}

.filters {
  margin-top: 10px;
  background-color: #bfe7f6;
}
div .panel{
  border-style: groove; 
  border-color: #bfe7f6; 
}

div .panel-heading{
  background-color: #bfe7f6 !important; 
  border-bottom-style: groove !important; 
  border-bottom-color: #bfe7f6 !important;
  color:black !important;
  position: relative; 
}
div .panel-body{
  background-color: #bfe7f6 !important; 
}

ul #filters{
  background-color: #bfe7f6 !important;
  position: relative; 
}

.filter{
  background-color: #bfe7f6;
  position: relative;
}

.filters .panel-body {
  padding: 0;
  background-color: #bfe7f6
}

.filters {
  margin-top: 10px;
  background-color: #bfe7f6
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #bfe7f6;
  outline: none;
}

/* the table top */
#table-area th {
  text-align: left;
  color: white;
  position : sticky;
  top : 0;
  background-color: #bfe7f6;
}
tr:hover {background-color:  white;}

#table-area tr {
  text-align: left;
  color:black;
  padding: 20px;
  background-color: #bfe7f6;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 100px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 50%;
  padding: 40px;
  margin: 0;
  background: #bfe7f6;
  background-image: url("../img/chicago.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  margin-top: 400px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bfe7f6;
  position: relative;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfe7f6;
  position: relative;;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #bfe7f6;
  position: relative;;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #bfe7f6;
  position: relative;;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
    background-color: #bfe7f6;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
    background-color: #bfe7f6;
  }

  #table-area tr td:first-child {
    font-size: 1.0em;
    font-weight: bold;
    background:#bfe7f6;
    background-color: #bfe7f6;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
    background-color: #bfe7f6;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: #bfe7f6;
  }

  #table-area td {
    font-size: 5.0em;
    background-color: #bfe7f6;
  }

  #table-area tbody td {
    display: block;
    font-size: 5.0em;
    text-align: center;
    background-color: #bfe7f6;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 5.0em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
    background-color: #bfe7f6;
  }

  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
    background-color: #bfe7f6;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
